{% extends 'base.html' %}

{% block title %}
Nosotros
{% endblock %}

{% block content %}
<br><br>
<div class="d-flex" style="margin-top:5rem">
<div class="card" style="width: 60rem; margin-left: auto; margin-right: auto;"  style="background-color:#6ec9f1 " >
    <img src="..." class="card-img-top" alt="..." >
    <div class="card-body" style="background-color:#0c5975 ">
      <h5 class="card-title">Acerca del Proyecto</h5>
      <p class="card-text" style="color:#f0e4c9 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
  </div>
</div>
  <br><br>

<br><br>
<div class="d-flex" style="margin-top:5rem">
<div class="card" style="width: 60rem; margin-left: auto; margin-right: auto;"  style="background-color:#6ec9f1 " >
    <img src="..." class="card-img-top" alt="..." >
    <div class="card-body" style="background-color:#adc7d7 ">
      <h5 class="card-title">Joan Camarotta</h5>
      <p class="card-text">Partnership Manager en ChronosPay, Productor Asesor de Seguros, incursionando en la programación, conocimientos basicos en IT de Mar del Plata, también músico y surfista, buscando aprovechar sus habilidades blandas para encontrar un efoque distinto como BackEnd.</p>
      <a href="https://www.linkedin.com/in/joan-camarotta-816b95172/" class="btn btn-secondary stretched-link">Linkedin</a>
    </div>
  </div>
</div>
  <br><br>

<div class="card" style="width: 60rem; margin-left: auto; margin-right: auto;"style="background-color:#a7a8b8">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body" style="background-color:#adc7d7 ">
      <h5 class="card-title">Juan Francisco Laborde</h5>
      <p class="card-text">Estudiante de Diseño Industrial en la Universidad Nacional de La Plata. Estudiante de Python y Data Science en CoderHouse. Empleado en New Bell Company SRL (como asistente administrativo contable).</p>
      <a href="#" class="btn btn-secondary stretched-link">Linkedin</a>
    </div>
  </div>
  </div>
  <br><br>
  <div class="d-flex">
<div class="card" style="width: 60rem; margin-left: auto; margin-right: auto;"style="background-color:#a7a8b8">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body" style="background-color:#adc7d7 ">
      <h5 class="card-title">Juan Manuel Echecolanea</h5>
      <p class="card-text">Licenciado en Geografía (FFyH-UNC, 2017. Tesista en la Maestría en Urbanismo MU-FAUD-UNC). Especialista en GIS Cloud (Fundació Universitat de Girona, 2018). Diplomado en SIG. FILO. UBA (2018). Técnico especialista en territorio en la Dirección de Calidad de Procesos Estadísticos DGEyC (Provincia de Córdoba). Integrante del equipo técnico de la Secretaría de Desarrollo Urbano Ambiental de Villa Carlos Paz. Integrante proyecto de investigación acreditado por SECyT-UNC. Ha participado en congresos y seminarios, como asistente y expositor en temáticas relacionadas al ambiente, la planificación urbana y los sistemas de información geográfica. Cuenta con publicaciones científicas referidas a la temática de planificación urbana ambiental y sistemas de información geográfica.</p>
      <a href="#" class="btn btn-secondary stretched-link">Linkedin</a>
    </div>
  </div>
</div>
  <br>
  <br>
  <br>
{% endblock %}