{% extends 'base.html' %}

{% block title %}
Nosotros
{% endblock %}

{% block content %}
<style type = "text/css">
    body {
            background-color: #0D3178;
     } </style>
<br><br>
<div class="card" style="width: 60rem; margin-left: auto; margin-right: auto;"  style="background-color:#3B4BF7 " >
    <img src="..." class="card-img-top" alt="..." >
    <div class="card-body" style="background-color:#3B4BF7 ">
      <h5 class="card-title">Joan Camarotta</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="btn btn-warning stretched-link">Linkedin</a>
    </div>
  </div>
  <br><br>
<div class="card" style="width: 60rem; margin-left: auto; margin-right: auto;"style="background-color:#3B4BF7">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body" style="background-color:#3B4BF7 ">
      <h5 class="card-title">Juan Francisco Laborde</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="btn btn-warning stretched-link">Linkedin</a>
    </div>
  </div>
  <br><br>
<div class="card" style="width: 60rem; margin-left: auto; margin-right: auto;"style="background-color:#3B4BF7">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body" style="background-color:#3B4BF7 ">
      <h5 class="card-title">Juan Manuel Echecolanea</h5>
      <p class="card-text">Licenciado en Geografía (FFyH-UNC, 2017. Tesista en la Maestría en Urbanismo MU-FAUD-UN). Especialista en GIS Cloud (Fundació Universitat de Girona, 2018). Diplomado en SIG. FILO. UBA (2018). Técnico especialista en territorio en la Dirección de Calidad de Procesos Estadísticos DGEyC (Provincia de Córdoba). Integrante del equipo técnico de la Secretaría de Desarrollo Urbano Ambiental de Villa Carlos Paz. Integrante proyecto de investigación acreditado por SECyT-UNC. Ha participado en congresos y seminarios, como asistente y expositor en temáticas relacionadas al ambiente, la planificación urbana y los sistemas de información geográfica. Cuenta con publicaciones científicas referidas a la temática de planificación urbana ambiental y sistemas de información geográfica.</p>
      <a href="#" class="btn btn-warning stretched-link">Linkedin</a>
    </div>
  </div>
  <br/><br/>
{% endblock %}