{% extends 'base.html' %}

{% block title %}
Nosotros
{% endblock %}

{% block content %}

<div class="d-flex" style="margin-top:3rem">
<div class="card" style="width: 60rem; margin-left: auto; margin-right: auto;" >
    <div class="card-body" style="background-color:#d5e1e6 ">
      <h5 class="card-title">Acerca del Proyecto</h5>
      <p class="card-text">Creamos un blog de noticias, con diferentes categorías, pudiendo acceder a cada una desde el dropdown de noticias, o desde el buscador. Además muchas opciones solo son visibles si estás logueado.</p>
      </div>
  </div>
</div>
<br>
<br>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" style="background-color:#d5e1e6">
        <img src="https://media-exp2.licdn.com/dms/image/C4D03AQFGa-HwKKMuAg/profile-displayphoto-shrink_800_800/0/1650541353346?e=1661385600&v=beta&t=CnjD26b3graFVDzMzq_VcCczScNo05pXj28J1xsEfuw" class="card-img-top" style="border-radius: 50%; border: 5px; height: 200px; width: 200px; position: relative; left: 30%; top: 2%;" alt="..."/>
        <div class="card-body">
          <h5 class="card-title">Joan Camarotta</h5>
          <p class="card-text">Partnership Manager en ChronosPay, Productor Asesor de Seguros, incursionando en la programación, conocimientos basicos en IT de Mar del Plata, también músico y surfista, buscando aprovechar sus habilidades blandas para encontrar un efoque distinto como BackEnd.</p>
          </div>
          <div>
          <a href="https://www.linkedin.com/in/joan-camarotta-816b95172/" target="_blank" rel="noopener noreferrer" class="btn btn-secondary d-grid">LinkedIn</a>
          </div>
      </div>
    </div>
  <div class="col">
    <div class="card h-100" style="background-color:#d5e1e6">
      <img src="https://media-exp2.licdn.com/dms/image/C5603AQH4c9U9YgCv8g/profile-displayphoto-shrink_800_800/0/1517339370518?e=1661385600&v=beta&t=bVlpZ5JDl0qV4i6aW-Cps0Fc3eefp7Atpc9FIfpdRKo" class="card-img-top" style="border-radius: 50%; border: 5px; height: 200px; width: 200px; position: relative; left: 30%; top: 2%" alt="..."/>
      <div class="card-body">
        <h5 class="card-title">Juan manuel Echecolanea</h5>
        <p class="card-text">Licenciado en Geografía (FFyH-UNC, 2017. Tesista en la Maestría en Urbanismo MU-FAUD-UNC). Especialista en GIS Cloud (Fundació Universitat de Girona, 2018). Diplomado en SIG. FILO. UBA (2018). Técnico especialista en territorio en la Dirección de Calidad de Procesos Estadísticos DGEyC (Provincia de Córdoba). Integrante del equipo técnico de la Secretaría de Desarrollo Urbano Ambiental de Villa Carlos Paz. Integrante proyecto de investigación acreditado por SECyT-UNC.</p>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/juan-manuel-echecolanea-b23a5566/" target="_blank" rel="noopener noreferrer" class="btn btn-secondary d-grid">LinkedIn</a>
        </div>
      </div>
    </div>
  <div class="col">
    <div class="card h-100" style="background-color:#d5e1e6">
      <img src="https://media-exp2.licdn.com/dms/image/C4D03AQGqxCMQisZNBw/profile-displayphoto-shrink_800_800/0/1655435974875?e=1661385600&v=beta&t=lcPYAfRqPdCq-oGTa0X2q94MJ66J3xwH3bcQqOQnHpg" class="card-img-fluid" style="border-radius: 50%; border: 5px; height: 200px; width: 200px; position: relative; left: 30%; top: 2%;" alt="..."/>
      <div class="card-body">
        <h5 class="card-title">Juan Francisco Laborde</h5>
        <p class="card-text">Estudiante de Diseño Industrial en la Universidad Nacional de La Plata. Estudiante de Python y Data Science en CoderHouse. Empleado en New Bell Company SRL (como asistente administrativo contable).</p>
      </div>
    <div>
        <a href="https://www.linkedin.com/in/juan-francisco-laborde-993636242/" target="_blank" rel="noopener noreferrer" class="btn btn-secondary d-grid">LinkedIn</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}