<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #13a7bb;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">InfoCoders</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index/">Inicio</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Noticias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/Noticias/Entretenimiento/">Sobre Entretenimiento</a></li>
                  <li><a class="dropdown-item" href="/Noticias/Salud/">Sobre Salud</a></li>
                  <li><a class="dropdown-item" href='/Noticias/Economia/'>Sobre Economía</a></li>
                </ul>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Crear
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/Noticias/create-publi-entretenimiento/">Crear nota entretenimiento</a></li>
                    <li><a class="dropdown-item" href="/Noticias/create-publi-salud/">Crear nota salud</a></li>
                    <li><a class="dropdown-item" href='/Noticias/create-publi-economia/'>Crear nota economía</a></li>
                  </ul>
                  <li class="nav-item">
                    <a class="nav-link" href="about_us/">Acerca de nosotros</a>
                  </li>
    </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Buscar noticias" aria-label="Search">
              <button class="btn btn-dark me-2" type="submit">Buscar</button>
            </form>
            <div class="btn-group dropstart">
              <button type="button" class="btn btn-dark dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropstart</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
              <a class="dropdown-item" href="/registro/">Registrarse</a>
              </ul>
              
              <a type="button" class="btn btn-dark" href='/login'>
                Ingresar
              </a>
            </div>
      </nav>
      {% block contenido %}
      {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>