<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    {% load static %}
    <style type = "text/css" >
      body {
              background-color: #f0e4c9;
              margin: 0;
      }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #072938;">
        <div class="container-fluid">
          <a class="navbar-brand">InfoCoders</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index/">Inicio</a>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Noticias
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="/Noticias/Entretenimiento/">Sobre Entretenimiento</a></li>
                  <li><a class="dropdown-item" href="/Noticias/Salud/">Sobre Salud</a></li>
                  <li><a class="dropdown-item" href='/Noticias/Economia/'>Sobre Economía</a></li>
                  <li><a class="dropdown-item" href='/Noticias/Deportes/'>Sobre Deportes</a></li>
                </ul>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="/Noticias/Crear-Nota/">Publicar</a>
                </li>
                {% endif %}
                  <li class="nav-item">
                    <a class="nav-link" href="/about-us/">Acerca de nosotros</a>
                  </li>
                </div>
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                          <a class="text-light" style="margin-right: 1rem;">
                          <h7>Bienvenido {{request.user.username}} </h7></a>
                        </li>
                        <li class="nav-item">
                          <img src="{{request.user.user_profile.image.url}}" style="height: 2rem;">
                      </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary me-2" href="/logout/">Logout</a>
                        </li>
                        <li class="nav-item">
                          <a class="btn btn-secondary" href="/Noticias/">Todas las Noticias</a>
                      </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="btn btn-secondary me-2" href="/login/">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary" href="/register/">Register</a>
                        </li>
                        {% endif %}
                      </ul>
          </div>
    <form class="d-flex" role="search" action="/Noticias/Buscar/" metod= "GET">
    <input class="form-control me-2" type = "text" placeholder = "Buscar noticias" name = 'search' aria-label = "Search">
    <button class="btn btn-secondary me-2" type="submit">Buscar</button>
  </form>
</div>
      </nav>
      {% block content %}
      {% endblock %}
    </div>
    <script 
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
    crossorigin="anonymous"></script>
  </body>
  <footer>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="sticky-xxl-bottom m-2 text-center text-black">
      <p>Desarrollado por: Joan Camarotta - Juan Echecolanea - Juan Laborde &copy 2022</p>
      </div>
  </footer>
</html>