{% extends 'base.html' %}
{% load static%}
{% block title %}
Contacto
{% endblock %}

{% block content %}
<div>
<img src="/media/blog_de_noticias.jpg" class="img-fluid" alt="...">
</div>
<br>
<br>
<h2 class="fw-bopld text-center py-5">Contacto:</h2>
<h3 class="fw-bopld text-center text-success py-5">{{message}}</h3>
<h3>{{errors}}</h3>
<div class="container">
    <div class="row">
    <div class="col">
<form action="" class="contact_form" method="POST">
{% csrf_token %}
<table>
    {{contact_form}}
</table>
    <input type="submit" class="btn btn-success" value="Enviar">
</form>
    </div>
</div>
{% endblock %}