{% extends 'base.html' %}

{% block titulo %}
Publicar Economia
{% endblock %}

{% block contenido %}
{% if form %}
<div class="container">
    <div class="row">
    <div class="col">
  </div>
   <h2 class="fw-bopld text-center py-5">Publicar nota sobre Economia</h2>
    <form action="" method="POST" >
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <br>
        <input type="submit" class="btn btn-primary" value="Enviar">
    </form>
{% elif new_publi_economia %}

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{new_publi_economia.title}}</h5>
            <p class="card-text">{{new_publi_economia.author}}</p>
            <p class="card-text">{{new_publi_economia.text}}</p>
        </div>
    </div>

{% endif %}

{% endblock %}