{% extends 'base.html' %}

{% block titulo %}
Publicar Salud
{% endblock %}

{% block contenido %}
{% if form %}
    <form action="" method="POST" >
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit", value="Enviar!">
    </form>
{% elif new_publi_salud %}

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{new_publi_salud.title}}</h5>
            <p class="card-text">{{new_publi_salud.author}}</p>
            <p class="card-text">{{new_publi_salud.text}}</p>
        </div>
    </div>

{% endif %}

{% endblock %}