{% extends 'base.html' %}

{% block title %}
Nota Completa
{% endblock %}

{% block content %}

<h1 
class="fw-bopld text-center py-5">
Nota completa
</h1>
<div class="container px-8 px-lg-5 mt-5">
        <div class="col mb-5">
            <div class="card h-120" style="background-color:#e3ba84">
                {% if object.image %}
                <img src="{{note.image.url}}"style= "border-radius: 15%; border: 5px; width: 287px; height: 200px; position: relative;"/>
                {% endif %}
                <div class="card-body p-6">
                    <div class="text-center py-9">
                        <h3 class="fw-bolder">{{object.title}}<br></h3>
                        <p class="card-text"><small class="text-muted">Autor: {{object.author}}</small></p>
                <br>
            <p><h6 class="card-text">{{object.text}}</h6></p>
            <br>
            {% if request.user.is_authenticated %}
            <a href="/noticias/editar-noticia/{{note.id}}/" class="btn btn-success">Editar</a>
            <a href="/noticias/borrar-noticia/{{note.id}}/" class="btn btn-danger">Eliminar</a>
            {% endif %}
            <a href="/index/" class="btn btn-secondary">Ir a Inicio</a>
        </div>
    </div>
</div>

{% endblock %}