{% extends 'base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<div class="bg py-5" style ="background-color: #0c5975;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Blog Infocoders</h1>
            <p class="lead fw-normal text-white-50 mb-0">El lugar para estár al día.</p>
        </div>
    </div>
</div>
</div>
</nav>
<br>
<h1 
class="fw-normal text-center py 5">
</h1>
<div class="container px-8 px-lg-7 mt-5">
  <div class="row gx-4 gx-lg-5 row-cols-md-1 row-cols-md-1 row-cols-xl-25 justify-content-center">
    {% for note in index_News %}
      <div class="col mb-5">
          <div class="card h-120">
            {% if note.image %}
            <img class="card-img-top" src="{{note.image.url}}"/>
            {% endif %}
              <div class="card-body p-6">
                  <div class="text-center">
                      <h3><class="fw-bolder">{{note.title}}<br></h3>
                      <p class="card-text"><small class="text-muted">Autor: {{note.author}}</small></p>
                      <h5>{{note.text}}</h5>
                      <br>
                      <a href="#" class="btn btn-secondary">Ver más</a>
                  </div>
              </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  {% endblock %}