{% extends 'base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block content %}
<div class="bg py-5" style ="background-color: #0c5975;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Blog Infocoders</h1>
            <p class="lead fw-normal text-white-50 mb-0">El lugar para estár al día.</p>
        </div>
    </div>
</div>
</div>
<h1 class="fw-bopld text-center py-5">
Aca podría ir un top 3 noticias.
</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}