{% extends 'base.html' %}
{% load static %}
{% block title %}
Noticias
{% endblock %}

{% block content %}
<br><br><br>
{{message}}
<h1 
class="fw-bopld text-center py-5"> Mi perfil
</h1>
    <h6> Usuario: {{user}}</h6>
    <h6> Nombre: {{name}}</h6>
    <h6> Apellido: {{last_name}}</h6>
    <h6> Email: {{email}}</h6>
    <h6> Telefono: {{phone}}</h6>
    <h6> Ciudad: {{city}}</h6>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  {% endblock %}