{% extends 'base.html' %}

{% block title %}
Economia
{% endblock %}

{% block content %}
<br><br><br>
<h1 
class="fw-bopld text-center py-5">
Aca van noticias sobre Economia.
</h1>
{% for note in post_economy %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{note.title}}</h5>
          <p class="card-text">{{note.text}}</p>
          <p class="card-text"><small class="text-muted">Autor: {{note.author}}</small></p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}