{% extends 'base.html' %}
{% load static %}
{% block title %}
Perfil
{% endblock %}

{% block content %}
<br><br><br>
{{message}}
<h1 
class="fw-bopld text-center py-5"> Mi perfil
</h1>

    <h6> Usuario: {{user}}</h6>
    <h6> Nombre: {{user.name}}</h6>
    <h6> Apellido: {{user.last_name}}</h6>
    <h6> Email: {{user.email}}</h6>
    <h6> Telefono: {{user.phone}}</h6>
    <h6> Ciudad: {{user.city}}</h6>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  {% endblock %}