{% extends 'base.html' %}
{% load static %}
{% block title %}
Perfil
{% endblock %}

{% block content %}
<h1 
class="fw-bopld text-center py-5"> Hola {{user.username}} este es tú perfil</h1>
<div class="card mb-3" style="max-width: fit-content; max-height: fit-content; background-color:#d5e1e6">
    <div class="row g-0">
      <div class="col-md-4">
    <img src="{{ user.profile.image.url }}" class="img-fluid" style="border-radius: 30%; border: 5px; height: 200px; width: 200px; position: relative; left: 2%; top: 0%;" alt="..."/>
      </div>
    <div class="col-md-8">
        <div class="card-body">
        <h4 class="card-title">{{user.profile.name}} {{user.profile.last_name}}</h4>
        <h5 class="card-text">Acerca de mí: {{user.profile.description}}</h5>
        <h5 class="card-text">Soy de {{user.profile.city}}</h5>
        <br>
          <a class="btn btn-secondary" href ="/cuenta/perfil/actualizar/view/{{user.profile.id}}">Editar</a>
        </div>
      </div>
    </div>
{% endblock %}