{% extends 'base.html' %}

{% block title %}
Deportes
{% endblock %}

{% block content %}

<h1 
class="fw-bopld text-center py-5">
Noticias sobre Deportes
</h1>
<div class="container px-8 px-lg-7 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      {% for note in sports %}
        <div class="col mb-5">
            <div class="card h-120" style="background-color:#e3ba84">
              {% if note.image %}
              <img class="card-img-top" src="{{note.image.url}}"style= "border-radius: 15%; border: 5px; width: 287px; height: 200px; position: relative;"/>
              {% endif %}
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{note.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{note.subtitle}}</h6>
                  <p class="card-text"><small class="text-muted">Autor: {{note.author}}</small></p>
                  <br>
                  <a href="/Noticias/Leer-Noticia/{{note.id}}/" class="btn btn-secondary">Ver más</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}