{% extends 'base.html' %}
{% load static%}
{% block title %}
Contacto
{% endblock %}

{% block content %}
<div>
<img src="/media/blog_de_noticias.jpg" class="img-fluid" alt="...">
</div>
<h3 class="fw-bopld text-center text-success py-5">{{message}}</h3>
<h3>{{errors}}</h3>
<h2 class="fw-bopld text-center py-5">Contacto:</h2>
<div class="container">
    <div class="row">
    <div class="col">
<form action="" class="contact_form" method="POST">
{% csrf_token %}
<table>
    {{contact_form}}
    <script>
        labels = document.getElementsByTagName('label');
        for (var j = 0; j < labels.length; j++) {   
            if (labels[j].textContent == "Name:") labels[j].textContent ="Nombre";
            if (labels[j].textContent == "Query:") labels[j].textContent ="Motivo";
            if (labels[j].textContent == "Text:") labels[j].textContent = "Descripcion";
            if (labels[j].textContent == "Follow:") labels[j].textContent = "Seguimiento";
            };
    </script>
</table>
    <input type="submit" class="btn btn-success" value="Enviar">
</form>
    </div>
</div>
{% endblock %}