{% extends 'base.html' %}

{% block title %}
Publicar Nota
{% endblock %}

{% block content %}
{% if form %}
<div class="container">
    <div class="row">
    <div class="col">
  </div>
   <h2 class="fw-bopld text-center py-5">Publicar Nota</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            
        {{form.as_table}}
        <script>
            labels = document.getElementsByTagName('label');
            for (var j = 0; j < labels.length; j++) {   
                if (labels[j].textContent == "Title:") labels[j].textContent ="Titulo";
                if (labels[j].textContent == "Subtitle:") labels[j].textContent ="Subtitulo";
                if (labels[j].textContent == "Author:") labels[j].textContent ="Autor";
                if (labels[j].textContent == "Publish date:") labels[j].textContent = "Fecha de Publicación";
                if (labels[j].textContent == "Text:") labels[j].textContent ="Cuerpo de la Nota";
                if (labels[j].textContent == "Category:") labels[j].textContent ="Categoria";
                if (labels[j].textContent == "Image:") labels[j].textContent ="Imagen";
                if (labels[j].textContent == "Is active:") labels[j].textContent ="Activo";
                };
    </script>
        </table>
        <br>
        <input type="submit" class="btn btn-secondary" value="Enviar">
    </form>
{% endif %}
{% endblock %}