{% extends 'base.html' %}
{% load static %}
{% block title %}
Perfil
{% endblock %}

{% block content %}
<h1 
class="fw-bopld text-center py-5"> Hola {{user.username}} completá los datos a modificar:</h1>
<div class="container">
    <div class="row">
    <div class="col">
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table>
    {{form.as_table}}
</table>
<br>
    <input type="submit" class="btn btn-success" value="Editar Perfil"></input>
    <a class="btn btn-secondary" href = "/cuenta/perfil">Volver</a>
</form>
</div>
{% endblock %}