{% extends 'base.html' %}
{% load static%}
{% block title %}
Inicio
{% endblock %}

{% block content %}
<div>
<img src="/media/blog_de_noticias.jpg" class="img-fluid" alt="...">
</div>
<br>
<br>
<h4 class="fw-bopld">{{message}}</h4>
{% endblock%}

{% block content2 %}
<h1 
class="fw-bopld text-center py-5">
Ultimas novedades
</h1>
<div class="container px-8 px-lg-7 mt-5;" style="width: 1200px">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      {% for note in inicio %}
        <div class="col mb-5">
            <div class="card h-40" style="background-color:#d5e1e6">
              {% if note.image %}
              <img class="img-fluid" src="{{note.image.url}}" style= "border-radius: 15%; border: 5px; width: 287px; height: 200px; position: relative;"/>
              {% endif %}
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{note.title}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{note.subtitle}}</h6>
                  <p class="card-text"><small class="text-muted">Autor: {{note.author}}</small></p>
                  <br>
                  <a href="/noticias/leer-noticia/{{note.id}}/" class="btn btn-secondary">Ver más</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

{% endblock %}